body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  color: #fff;
  text-align: center;
}

nav {
  background: rgba(0,0,0,0.3);
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 50px 20px;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.3em;
  max-width: 700px;
  margin: auto;
}

img {
  width: 250px;
  border-radius: 15px;
  margin: 15px;
}

video {
  width: 320px;
  border-radius: 15px;
  margin: 15px;
}


.heart {
  position: fixed;
  bottom: -20px;
  font-size: 20px;
  animation: floatUp 6s linear infinite;
  opacity: 0.8;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.5);
    opacity: 0;
  }
}





.container {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
